<!DOCTYPE html>
<html>

<head>
    <style>
        img {
            max-width: 400px;
            border: 1px solid #fff;
            margin: 10px;
        }

        body {
            background: #333;
            color: white;
        }
    </style>
</head>

<body>
    <h1>Compare Mockups</h1>
    <div>
        <h3>Original (Text Burned In)</h3>
        <img src="/static/mockup_bothsides.png">
    </div>
    <div>
        <h3>V2</h3>
        <img src="/static/mockup_bothsides_v2.png">
    </div>
    <div>
        <h3>V3</h3>
        <img src="/static/mockup_bothsides_v3.png">
    </div>
    <div>
        <h3>V4</h3>
        <img src="/static/mockup_bothsides_v4.png">
    </div>
    <div>
        <h3>V5</h3>
        <img src="/static/mockup_bothsides_v5.png">
    </div>
    <div>
        <h3>V6</h3>
        <img src="/static/mockup_bothsides_v6.png">
    </div>
    <div>
        <h3>V7</h3>
        <img src="/static/mockup_bothsides_v7.png">
    </div>
</body>

</html>